



.LogoNike img{
    display: flex;
    justify-content: center;
    align-items: center;   
      
}

.LogoNike img{
    position: fixed;
    left: 50px;
    top: 20px;
}

body{
	font-family: arial, helvetica;
	background: #ffffff;
}  
.menu{
	position: fixed;
    display: flex;
    justify-content: center;
	padding: 0;
	background: #ffffff;
	width: 90%;
	max-width: 552px;
    top: 40px;
    left: 700px;
    
}

.menu li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ecececc4;
}


.NikeGif img{
    position: absolute;
    left: 110px;
    top: 250px;
}

.NikeGif p{
    position: relative;
    top: 800px;
    left: 150px;
}

.Final p7{
    position: absolute;
    display: flex;
    justify-content: center;
	background: #8f8e8e;
    padding: 100px;
	width: 1705px;
    left: 0px;
    top: 1500px;
    
}